//Colors
$navbar:rgb(255,255,255);//navbar & hovers aside rigth
$blue-text:rgb(59,73,223);//text blue & hovers
$main:rgb(245,245,245);//main color
$aside-right:rgb(250,250,250);//backgrouncolor cards
$hover-aside-left:rgba(59,73,223,0.1);// backgrond hover aside left
$badges-bg:rgb(251,211,76);//badges
$badges-text:rgb(131,66,20);//badges text
$footer:rgb(229,229,229); //footer
$svg:rgb(61,61,61);//svg color
$text-color:rgb(64,64,64);//color of text;

*{
    font-family: 'Roboto', sans-serif;
}