//Colors
$navbar:rgb(255,255,255);//navbar & hovers aside rigth
$blue-text:rgb(59,73,223);//text blue & hovers
$main:rgb(245,245,245);//main color
$aside-right:rgb(250,250,250);//backgrouncolor cards
$hover-aside-left:rgba(59,73,223,0.1);// backgrond hover aside left
$badges-bg:rgb(251,211,76);//badges
$badges-text:rgb(131,66,20);//badges text
$footer:rgb(229,229,229); //footer
$svg:rgb(61,61,61);//svg color
$text-color:rgb(64,64,64);//color of text;

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//navbar
.navbar{
    background-color: $navbar;
    justify-content: flex-start;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    .dropdown{
        .navbar-toggler{
            border: none;
            padding: 0.25rem 0.25rem 0.25rem 0;
            margin-right: .75rem;
        }
        .dropdown-menu{
            position: fixed;
            height: 100vh;
            width: 80vw;
            border: none;
            padding: 0;
            margin: 0;
            background-color: $navbar;
            top: 0;
            overflow-y: scroll;
            nav{
                a{
                    color: $text-color;
                    &:hover{
                        color: $blue-text;
                        background-color: $hover-aside-left;
                        text-decoration: underline;
                    }
                }
                img{
                    margin-right: .25rem;
                    padding-bottom: .25rem;
                }
            }
            .head{
                height: 3rem;
                .emojis{
                    align-items: center;
                    margin-left: -1rem;
                    padding: 1rem 0;
                    h6{
                        margin: 0 .25rem 0 0;
                    }
                }
            }
        }
        .others{
            margin: 1rem 0 .5rem 1.3rem;
            h6{
                margin: 0;
            }
        }
        .socialm-icons{
            align-items: center;
            justify-content: space-evenly;
            height: 2.5rem;
            margin-right: 3.5rem;
        }
    }
    .navbar-brand{
        margin: 0;
        padding: 0;
    }
    .icons-navbar{
        align-items: center;
        margin-left: auto;
        width: 30%;
        justify-content: space-between;
        background-color: $navbar;
        svg{
            height: 2rem;
            background-color: $navbar;
            border-radius: 5px;
            &:hover{
                fill: $blue-text;
                background-color: $hover-aside-left;
            }
        }
        .user-profile{
            .profile{
                padding: 0;
                background: none;
                border: none;
                &::after{
                    display: none;
                }
                img{
                    width: 2rem;
                    border-radius: 100%;
                }
            }
            .user-actions{
                width: 96%;
                margin: 0.125rem 0.5rem 0 0.5rem;
                padding: .5rem;
                .dropdown-item{
                    height: 2.5rem;
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    padding: .5rem 1rem;
                    color: $text-color;
                    &:hover{
                        background-color: $hover-aside-left;
                        text-decoration: underline;
                        color: $blue-text;
                    }
                }
                .first{
                    height: 3.5rem;
                }
                hr{
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                    width: 97%;
                }
            }
        }
    }
}
.navbar-light{
    border-bottom: 1px #64707d47 solid;
}
//main-aside-left
main{
    margin-top: 56px;
    background-color: $main;
    .aside-left{
        padding-top: 1rem;
        padding-left: 3rem;
        nav{
            .nav-link{
                color: $text-color;
                border-radius: 6px;
                &:hover{
                    background-color: $hover-aside-left;
                    color: $blue-text;
                    text-decoration: underline;
                }
                img{
                    margin-right: .25rem;
                    padding-bottom: .25rem;
                }
            }
            .last-link{
                margin-bottom: 1rem;
            }
            .others{
                margin: 1.5rem 0 0.5rem 1.3rem;
                h6{
                    margin: 0;
                }
            }
            .socialm-icons{
                align-items: center;
                justify-content: space-evenly;
                height: 2.5rem;
                margin-right: 1rem;
                margin-bottom: 2rem;
                svg{
                    fill: $svg;
                    &:hover{
                        fill: $blue-text;
                        background-color: $hover-aside-left;
                    }
                }
            }
        }
        .nav-tags{
            .tags-head{
                justify-content: space-between;
                margin-left: 0.9rem;
                margin-right: 1.9rem;
                margin-bottom: 1rem;
                h6{
                    margin: 0;
                }
                a{
                    margin-top: -.25rem;
                    svg{
                        height: 2rem;
                        width: 2rem;
                        padding: 0.25rem;
                        border-radius: 5px;
                        &:hover{
                            fill: $blue-text;
                            background-color: $hover-aside-left;
                        }
                    }
                }
                
            }
            .tags{
                height: 160px;
                margin-bottom: 2rem;
                .nav-link{
                    width: 260px;
                }
            }
        }
        .card{
            width: 16rem;
            color: $text-color;
            margin-bottom: 1rem;
            .card-img-top{
                border-radius: 7px;
                margin-top: 1.25rem;
                margin-left: 0.75rem;
                width: 90%;
            }
            .card-body{
                padding: 1.25rem 1.25rem 0.75rem 1.25rem;
                .card-title, .card-text{
                    margin-bottom: .25rem;
                }
                .shop{
                    line-height: 2.25rem;
                }
                a{
                    color: $blue-text;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}
//main-cards-section
main{
    .main-cards-section{
        padding: 0;
        .nav-pills{
            color: $text-color;
            li{
                #pills-home-tab{
                    font-weight: bold;
                }
                button{
                    &:hover{
                        background-color: $navbar;
                        color: $blue-text;
                    }
                }
                .nav-link.active{
                    font-weight: bold;
                    background-color: transparent;
                    color: $text-color;
                }
            }
        }.tab-content{
            .tab-pane{
                .principal-card, .secondary-card{
                    border-radius: .35rem;
                    .card-img-top{
                        border-top-left-radius: .35rem;
                        border-top-right-radius: .35rem ;
                    }
                    .user{
                        img{
                            width: 2rem;
                            border-radius: 100%;
                        }
                        .user-data{
                            a{
                                color: $text-color;
                                text-decoration: none;
                                .name{
                                    line-height: 18px;
                                    &:hover{
                                        background-color: $main;
                                        border-radius: 5px;
                                    }
                                }
                                .date{
                                    font-size: .75rem;
                                    color: $svg;
                                }
                            }
                            
                        }
                    }
                    .card-body{
                        padding: 1rem 1rem .7rem 1rem;
                        .card-title{
                            margin: 0;
                            font-size: 1.25rem;
                            &:hover{
                                color: $blue-text;
                                cursor: pointer;
                            }
                        }
                        .hastags{
                            margin: 0.5rem 0 0.75rem -.3rem;
                            a{
                                color: $text-color;
                                opacity: .8;
                                text-decoration: none;
                                padding: .25rem;
                                &:hover{
                                    background-color: $main;
                                    border: 1px solid rgba(0,0,0,.125);
                                    border-radius: 5px;
                                }
                            }
                        }
                        .interactions{
                            .reactions-comments{
                                margin-left: -.7rem;
                                a{
                                    color: $text-color;
                                    text-decoration: none;
                                    padding: .25rem .50rem;
                                    &:hover{
                                        background-color: $main;
                                        border-radius: 5px;
                                    }
                                    svg{
                                        margin-bottom: .25rem;
                                    }
                                }
                            }
                            .save{
                                a{
                                    svg{
                                        width: 2rem;
                                        height: 2rem;
                                        padding: 0.3rem 0 0 0.3rem;
                                        border-radius: 5px;
                                        &:hover{
                                            path{
                                                fill: $blue-text;
                                            }
                                            background-color: $hover-aside-left;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// aside-right
.aside-right{
    padding: 0 0 0 .5rem;
    .list-group{
        border-radius: 5px;
        .head-listings{
            border: 1px solid rgba(0,0,0,.125);
            border-bottom: none;
            height: 3rem;
            background-color: $aside-right;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            a{
                color: $blue-text;
                text-decoration: none; 
            }
            .hash-head{
                color: $text-color;
                &:hover{
                    color: $blue-text;
                }
            }
        }
        .nav-listing{
            padding: 1rem;
            background-color: $aside-right;
            box-shadow: 1px solid rgba(0,0,0,.125);
            &:hover{
                background-color: $navbar;
                span{
                    color: $blue-text;
                }
            }
            .badge{
                background-color: $badges-bg;
                color: $badges-text;
                font-weight: 400;
                width: 2.25rem;
                height: 1.27rem;
                padding: 0.3rem 0;
                margin-top: .25rem;
            }              
        }
        .footer-listing{
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            a{
                border-top: none;
                background-color: $aside-right;
                &:hover{
                    background-color: $aside-right;
                    span{
                        color: $blue-text;
                    }
                }   
            }
            .final-link{
                font-size: .875rem;
            }
        }
    }
}
//navbar-responsive
@media only screen and (min-width:768px){
    .navbar{
        .form-control{
            width: 55%;
            background-image: url("../img/search.svg");
            background-repeat: no-repeat;
            background-position: center right 10px;
            &:hover{
                border: 1px $text-color solid;
            }
        }
        .icons-navbar{
            justify-content: space-evenly;
            margin-right: -.5rem;
            width: 30%;
            .user-profile{
                .profile{
                    padding: 0;
                    background: none;
                    border: none;
                    &::after{
                        display: none;
                    }
                    img{
                        width: 2rem;
                        border-radius: 100%;
                    }
                }
                .user-actions{
                    width: 15rem;
                    margin: 0 1rem 0 0;
                    padding: .5rem;
                    z-index: 9999;
                    top: 90%;
                    .dropdown-item{
                        height: 2.5rem;
                        display: flex;
                        align-items: center;
                        border-radius: 5px;
                    }
                    .first{
                        height: 3.5rem;
                    }
                }
            }
            .btn{
                border: 1px $blue-text solid;
                color: $blue-text;
                height: 2.5rem;
                font-size: 1rem;
                width: 7.4rem;
                padding: 0;
                &:hover{
                    background-color: $blue-text;
                    color: $navbar;
                    text-decoration: underline;
                }
            }
            .search-mobile{
                display: none;
            }
        }
    }
}
@media only screen and (min-width:1000px){
    .navbar{
        .form-control{
            width: 30%;
        }
        .icons-navbar{
            justify-content: space-evenly;
            margin-right: 2rem;
            width: 20%;
            .user-profile{
                .user-actions{
                    margin-right: 4.5rem;
                }
            }
        }
    }
} 

//aside-left responsive
@media only screen and (min-width:767px){
    main{
        .aside-left{
            padding-left: .5rem;
            nav{
                .nav-link{
                    padding: .5rem .5rem;
                }
                .others{
                    margin: 1.5rem 0 0.5rem 0.75rem;
                }
                .socialm-icons{
                    width: 11rem;
                    margin-right: 0;
                }
            }
            .nav-tags{
                .tags-head{
                    width: 11rem;
                    margin-left: .5rem;
                    margin-right: 0;
                }
                .tags{
                    .nav-link{
                        width: 12rem;
                    }
                }
            }
            .card{
                width: 12rem;
                .card-img-top{
                    margin-left: .6rem;
                }
                .card-body{
                    padding: 1rem;
                }
            }
        }
    }
}
@media only screen and (min-width:1000px){
    main{
        .aside-left{
            max-width: 23%;
            padding-left: 3rem;
            nav{
                .nav-link{
                    padding: .5rem 1rem;
                }
                .others{
                    margin: 1.5rem 0 0.5rem 1.3rem;
                }
                .socialm-icons{
                    width: 16rem;
                    margin-right: 0;
                }
            }
            .nav-tags{
                width: 15rem;
                .tags-head{
                    width: 15rem;
                }
                .tags{
                    width: 16rem;
                    .nav-link{
                        width: 15rem;
                    }
                }
            }
            .card{
                width: 16rem;
                .card-img-top{
                    margin-left: .75rem;
                }
                .card-body{
                    padding: 1.25rem 1.25rem .75rem 1.25rem;
                }
            }
        }
    }
}
//main-cards-section responsivee
@media only screen and (min-width:768px){
    main{
        .main-cards-section{
            padding: 0 1rem;
            .tab-content{
                .tab-pane{
                    .principal-card, .secondary-card{
                        .card-body{
                            padding: .75rem 1.25rem 1.25rem 1.25rem;
                            .card-title{
                                font-size: 1.5rem;
                                margin: 0 0 0 2rem;
                            }
                            .hastags{
                                margin: 0.75rem 0 1rem 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:992px){
    main{
        .main-cards-section{
            padding: 0 .5rem 0 0;
            max-width: 47%;
        }
    }
}